---
import { formatDate } from '@utils/format-date';
import type { CollectionEntry } from 'astro:content';

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const frontmatter = post.data;

const formattedDate = formatDate(frontmatter.date.toDateString());

---

<div class="lg:flex">
    <img class="object-cover w-full h-56 rounded-lg lg:w-64" src={`${frontmatter.image}`} alt={frontmatter.title}>

    <div class="flex flex-col justify-between py-6 lg:mx-6">
        <a href={`/posts/${post.slug}`} class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
            {frontmatter.title}
        </a>
        
        <span class="text-sm text-gray-500 dark:text-gray-300">On: {formattedDate}</span>
    </div>
</div>